<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="consultant_screen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>みのいろ</title>
</head>
<body>
    <div class="back_white flex plan_detail">
        <div id="vapp" class="inner">
            <div id="side" class="smt pc">
                <div class="gray">
                    <a href="#">
                        <div class="icon size125 wborder" style="background-image:"></div>
                    </a>
                    <p class="name">
                        <a href="#" class="link"></a>
                    </p>
                    <a href="#" class="color">
                        <p>もっと詳しく</p>
                    </a>
                    <div class="snsicon">
                        <a href="#" target="_blank" class="m-r1">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="followbox m-t1">
                        <div class="follow">
                            
                        </div>
                    </div>
                    <p class="time_stamp">
                        24時間以内
                    </p>
                    <div class="selfcheck">
                        <i class="fas fa-check-circle link"></i>
                        本人確認
                        <i class="fas fa-check-circle link"></i>
                        秘密保持契約(NDA)
                    </div>
                    <div class="m-b2 FollowArea">
                        <div class="FollowArea_sub m-b1">フォローして後でチェック</div>
                        <a href="#" data-method="post" class="btn">フォローする</a>
                    </div>
                    <div class="hyouka_box">
                        <div class="icon_heart">
                            評価
                        </div>
                        <div class="right">
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="no-bold">(131)</span>
                        </div>
                        <div class="icon_money">料金</div>
                        <div class="right">1000円</div>
                    </div>
                    <div class="m-b2 SideMessageArea">
                        <label for="modal-trigger_message10335" class="z-depth-2 button primaryButton w100p">メッセージで相談</label>
                        <div class="sideMessageArea_sub">まずは相談してみよう</div>
                    </div>
                </div>
                <div class="m-b1 ReportArea m-t1">
                    <label for="modal-trigger_report">通報する</label>
                </div>
                <div class="sideMessageArea_sub">このプランをシェアしよう!</div>
                <div class="side_sns"></div>
            </div>
        </div>
    </div>
</body>
</html>