<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="guide_for_customer.css">
  <title>みのいろ</title>
</head>
<body>
  <main id="app" data-action="customer">
    <div class="about">
      <section class="about_introduction">
        <div class="inner noflex">
          <h2>
            みのいろは、お客様とカラーコンサルタントを
            <br>
            オンラインで繋げるサービスです。
          </h2>
        </div>
      </section>
      <section class="about_service">
        <div class="inner noflex">
          <h2>みのいろが選ばれる理由</h2>
          <div class="top-container_body">
            <!--中枠-->
            <div class="top-container_item grid img_left">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card triple-cards">
                            <div class="card-image">
                            <img src="/img/clock.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title">即日取れるカウンセリング予約</span>
                                    <p>最短1時間後から予約可能。「今、コンサルしたい」時にもご利用いただけます。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!--middle-->
    <div class="top-container_item grid img_middle">
        <div class="row">
            <div class="col s12 m4">
                <div class="card triple-cards">
                    <div class="card-image img-resize">
                    <img src="/img/online_illust.png" class="online">
                    <img src="/img/offline_illust.png" class="offline">
                    </div>
                
                    <div class="card-content">
                        <span class="card-title">オンライン・オフラインに対応</span>
                            <p>まずはオンラインで、気に入ればカフェや自宅などで気軽にコンサルテーションできます。</p>
                            <p class="small-text">※交通費やカフェ代はお客様負担となります。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--right-->
    <div class="top-container_item grid img_right">
        <div class="row">
            <div class="col s12 m4">
                <div class="card triple-cards">
                    <div class="card-image">
                    <img src="/img/reasonable_illust2.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title">リーズナブル</span>
                            <p>今まで手の届かなかったカラーコンサルティングがなんと1000円から4500円の間で受けることができます。</p>
                            <p class="small-text">※障害者手帳をお持ちの方は半額割引となります。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            
            </div>
          </div>
        </div>
      </section>
      <section class="about_consult">
        <div class="inner noflex">
          <h2>例えばこんなお悩みありませんか？</h2>
          <div class="about_consult_check flexbox">
            <p class="about_consult_check_body">生きるのが辛い。生きてる意味がわからない。<br>もう死んでしまいたい。</p>
            <p class="about_consult_check_body">彼氏（彼女）や夫（妻）とうまくいっていない。<br>解決策が欲しい。</p>
            <p class="about_consult_check_body">就職活動中だが将来のことがわからず不安で仕方ない。<br>もう逃げ出したい。</p>
          </div>
          <p class="about_consult_check_end">などあなたの様々な悩みをみのいろが解決します。</p>
        </div>
      </section>
      <section class="about_step">
        <div class="inner noflex">
          <h2>ご利用の流れ</h2>
          <div class="microCopy flexbox">
            <span>お客様の場合</span>
          </div>
          <div class="about_step_content">
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>プロフィールを登録する</h4>
                <p>まずはプロフィール編集ページから自分のプロフィールを登録しましょう。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>コンサルタントを探す</h4>
                <p>「コンサルタントを探す」メニューからカラーコンサルタントを探してみましょう。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>コンサルタントを検討する</h4>
                <p>気に入ったコンサルタントを見つけたら、評価や価格などを参考に絞り込んでいきましょう。いきなり契約するのではなく、まずはメッセージで連絡を取り相談してみることをおすすめ致します。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>コンサルタントと契約する</h4>
                <p>コンサルタントと契約するにはコンサルタントプランページにある「契約する」ボタンを押して契約しましょう。お支払いはクレジットカードのみとなっております。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>
                  <span class="sp-block">契約完了！</span>
                  カラーコンサルティングを開始しましょう。
                </h4>
                <p>契約したら早速始めましょう。カラーコンサルティングの前にあらかじめボトルを４本選んでおきましょう。</p>
              </div>
            </div>
          </div>
          <a href="#" class="button plan_customer primaryButton">
            <span class="icon">
              <i class="fa fa-search"></i>
            </span>
            コンサルタントを探してみる
          </a>
        </div>
      </section>
      <div class="about_andmore">
        <div class="inner noflex">
          <a href="#" class="userType_button flexbox">
            <div class="button_inner flexbox">
              <span class="text">コンサルタントはこちら</span>
            </div>
          </a>
      </div>
    </div>
  </div>
  </main>
</body>
</html>