<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="guide_for_customer.css">
  <title>みのいろ</title>
</head>
<body>
  <main id="app" data-action="customer">
    <div class="about">
      <section class="about_introduction">
        <div class="inner noflex">
          <h2>
            みのいろは、お客様とカラーコンサルタントを
            <br>
            オンラインで繋げるサービスです。
          </h2>
        </div>
      </section>
      <section class="about_service">
        <div class="inner noflex">
          <h2>みのいろが選ばれる理由</h2>
          <div class="about_service_list flexbox">
            <div class="about_service_list_item">
              <p class="about_service_list_item_head">即日予約可</p>
              <p class="about_service_list_item_body">最短１時間後から予約できます。「今、やりたい」などの声に応えます。</p>
            </div>
            <div class="about_service_list_item">
              <p class="about_service_list_item_head">オンライン・オフライン両方対応できます。</p>
              <p class="about_service_list_item_body">初回はオンラインで、気に入ったコンサルタントとはカフェでなど、柔軟にプランをお選びいただけます。</p>
              <p class="about_add">※交通費やカフェ代はお客様ご負担となります。</p>
            </div>
            </div>
            <div class="about_service_list_item">
              <p class="about_service_list_item_head">リーズナブル</p>
              <p class="about_service_list_item_body">今までは手が届かなかったカラーコンサルティングが気軽にできます。</p>
              <p class="about_add">※障害者手帳をお持ちの方はさらに半額となります。</p>
            </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about_consult">
        <div class="inner noflex">
          <h2>例えばこんなお悩みありませんか？</h2>
          <div class="about_consult_check flexbox">
            <p class="about_consult_check_body">生きるのが辛い。生きてる意味がわからない。<br>もう死んでしまいたい。</p>
            <p class="about_consult_check_body">彼氏（彼女）や夫（妻）とうまくいっていない。<br>解決策が欲しい。</p>
            <p class="about_consult_check_body">就職活動中だが将来のことがわからず不安で仕方ない。<br>もう逃げ出したい。</p>
          </div>
          <p class="about_consult_check_end">などあなたの様々な悩みをみのいろが解決します。</p>
        </div>
      </section>
      <section class="about_step">
        <div class="inner noflex">
          <h2>ご利用の流れ</h2>
          <div class="microCopy flexbox">
            <span>お客様の場合</span>
          </div>
          <div class="about_step_content">
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>プロフィールを登録する</h4>
                <p>まずはプロフィール編集ページから自分のプロフィールを登録しましょう。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>コンサルタントを探す</h4>
                <p>「コンサルタントを探す」メニューからカラーコンサルタントを探してみましょう。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>コンサルタントを検討する</h4>
                <p>気に入ったコンサルタントを見つけたら、評価や価格などを参考に絞り込んでいきましょう。いきなり契約するのではなく、まずはメッセージで連絡を取り相談してみることをおすすめ致します。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>コンサルタントと契約する</h4>
                <p>コンサルタントと契約するにはコンサルタントプランページにある「契約する」ボタンを押して契約しましょう。お支払いはクレジットカードのみとなっております。</p>
              </div>
            </div>
            <span class="arrow_icon">
              <img src="/img/sign.png" loading="lazy">
            </span>
            <div class="about_step_content_item flexbox">
              <div class="about_step_content_item_body">
                <h4>
                  <span class="sp-block">契約完了！</span>
                  カラーコンサルティングを開始しましょう。
                </h4>
                <p>契約したら早速始めましょう。カラーコンサルティングの前にあらかじめボトルを４本選んでおきましょう。</p>
              </div>
            </div>
          </div>
          <a href="#" class="button plan_customer primaryButton">
            <span class="icon">
              <i class="fa fa-search"></i>
            </span>
            コンサルタントを探してみる
          </a>
        </div>
      </section>
      <div class="about_andmore">
        <div class="inner noflex">
          <a href="#" class="userType_button flexbox">
            <div class="button_inner flexbox">
              <span class="text">コンサルタントはこちら</span>
            </div>
          </a>
      </div>
    </div>
  </div>
  </main>
</body>
</html>