<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="header_login.js"></script>
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="header_login.css">
    <title>ログイン後ヘッダー</title>
</head>
<body>
    <header class="header pc_hyoji mini z-depth-1">
        <div class="header_inner">
            <div class="header_inner_head flexbox">
                <div class="navi auth_buttons flexbox">
                    <div class="search">
                        <form method="GET">
                            <div class="relative">
                                <input id="q" placeholder="検索" name="q" type="text">
                                <div class="absolute center-v right-1 gray2 header_search">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="notification" style="margin-right: 16px;">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="far fa-bell fa-sm"></i></a>
                        <!-- Dropdown Structure -->
                        <div class="drop-down_menu">
                        <ul id='dropdown1' class='dropdown-content dropdown1'>
                            <li><a href="#!" class="read">全て既読にする</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">two</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">three</a></li>
                            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="iconbtn" style="margin-right: 16px;">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target='dropdown2'><img src="flower.jpeg" height="40px"></a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown2' class='dropdown-content dropdown2'>
                            <li><a href="#!">HOME</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">プロフィール</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">フォローリスト</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">設定</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">紹介手数料割引</a></li>
                            <li class="divider" tabinde
                            <li><a href="#!">ログアウト</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">退会</a></li>
                        </ul>
                    </div>
                    <div class="add_new">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn create-btn' href='#' data-target='dropdown3'>作成</a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown3' class='dropdown-content dropdown3'>
                            <li><a href="#!">プランの作成</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">ブログの作成</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="header smt_hyoji">
        <div class="header_inner flexbox">
            <div id="nav-drawer" class="header_inner_head flexbox">
                <div class="menu_icon envelope">
                    <a href="#">
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
                <div>
                    <div class="notification" style="margin-right: 16px;">
                        <a class='dropdown-trigger' href='#' data-target='dropdown4'><i class="far fa-bell fa-sm"></i></a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown4' class='dropdown-content'>
                            <li><a href="#!" class="read">全て既読にする</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">two</a></li>
                        </ul>
                    </div>
                <div class="menu_icon_last">
                    <ul id="slide-out" class="sidenav">
                        <li><a class="waves-effect" href="#!">プロフィール</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">メッセージ</a></li>
                        <li><div class="divider message-bottom"></div></li>
                        <li><a class="waves-effect" href="#">みのいろとは？（お客様向け）</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">みのいろとは？（コンサルタント向け）</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">HOME</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">コンサルタントを探す</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">ブログを探す</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">フォローリスト</a></li>
                        <li><div class="divider followlist-bottom"></div></li>
                        <li><a class="waves-effect" href="#!">プラン管理</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">契約管理</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">売上管理</a></li>
                        <li><div class="divider"></div></li>
                        <li>
                            <ul class="collapsible">
                                <li>
                                  <a class="waves-effect collapsible-header" href="#">お支払い管理</a>
                                  <div class="collapsible-body">
                                    <a class="waves-effect collapsible-header" href="#">課金履歴</a>
                                    <div class="divider"></div>
                                    <a class="waves-effect collapsible-header" href="#">出金申請</a>
                                    <div class="divider"></div>
                                    <a class="waves-effect collapsible-header" href="#">出金履歴</a>
                                  </div>
                                </li>
                              </ul>
                        </li>
                        
                        <li><div class="divider money-bottom"></div></li>
                        <li><a class="waves-effect" href="#!">設定</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">紹介手数料割引</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">お客様に切り替え</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">ログアウト</a></li>
                        <li><div class="divider logout-bottom"></div></li>
                        <li><a class="waves-effect" href="#!">ビジョン</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">利用規約</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">特定商取引に基づく表記</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">個人情報保護法</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">お問い合わせ</a></li>
                        <li><div class="divider"></div></li>



                      </ul>
                      <a href="#" data-target="slide-out" class="sidenav-trigger"><img src="flower.jpeg" height="50px"></a>
                </div>
            </div>
        </div>
    </div>
                
    </header>
</body>
</html>