<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <title>みのいろ</title>
</head>
<body>
        <div class="v-app">
            <header class="header pc_hyoji mini">
            <div class="header_inner">
                <div class="header_inner_head flexbox">
                    <div id="logo">
                        <a href="∠" class="flexbox">
                            <p>みのいろ</p>
                        </a>
                    </div>
                    <ul class="menu gnav flexbox">
                        <li class="menu_item flexbox">
                            <a href="#">コンサルタントを探す</a>
                        </li>
                        
                        <li class="menu_item flexbox">
                            <a href="#">ブログ</a>
                        </li>
                    </ul>
                
            <nav class=" navi auth_buttons flexbox">
                <div class="search">
                    <form method="GET" action="" accept-charset="UTF-8">
                    <div class="relative">
                <input id="q" placeholder="カテゴリ検索" name="q" type="text">
                <div class="absolute center-v right-1 gray2 header_search">
                <i class="fas fa-search"> </i>
            </div>
            </div>
        </form>
            </div>
                <div class="navi_login">
                    <a href="#" tabindex="0" class="button">ログイン</a>
                </div>
                <div class="navi_entry">
                    <a href="#" tabindex="0" class="button primaryButton">無料登録</a>
                </div>
            </nav>
            </div>
        </div>
    </header>    
</body>
</html>

