.pc_hyoji {
  display: block;
}

header {
  position: -webkit-sticky;
  position: sticky;
  padding: 0;
  top: 0;
  background: #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
  border-bottom: 1px solid #e9eef1;
  z-index: 999;
}

header .header_inner {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header_inner #q {
  background: #f4f8fa;
  margin: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 230px;
}

header .header_inner .auth_buttons {
  margin-left: auto;
}

header .header_inner .navi {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff !important;
}

header .header_inner .navi .search {
  margin-right: 12px;
}

header .header_inner_head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.relative {
  position: relative;
}

input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 44px;
  font-size: 16px;
}

input {
  overflow: visible;
}

.absolute {
  position: absolute;
}

.gray2 {
  font-size: 13px;
  color: #999;
}

.right-1 {
  right: 1rem;
}

.center-v {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fas {
  font-weight: 900;
  -webkit-font-snoothing: antialiased;
  display: inline-block;
  text-rendering: auto;
}

.notification {
  cursor: pointer;
}

.notification button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #bdbdbd;
  text-align: left;
}

.create-btn {
  width: 80px;
  height: 50px;
  font-size: 16px;
  padding-top: 7px;
  border-radius: 4px;
  font-weight: 700;
  background: #ff6e00;
}

.create-btn:hover {
  background: #994200;
}

.dropdown-content {
  border-radius: 4px;
}

@media (max-width: 699px) {
  .dropdown1 {
    width: 300px;
    left: 800px !important;
  }
}

.dropdown1 {
  left: 860px !important;
  width: 300px;
}

.dropdown2 {
  width: 260px;
  left: 950px !important;
}

.dropdown3 {
  width: 130px;
  left: 1130px !important;
}

.read {
  text-align: right;
  font-size: 10px !important;
}

.smt_hyoji {
  display: none !important;
}

header .header_inner .flexbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_inner_head {
  height: 72px;
}

header .header_inner {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header_inner .menu_icon {
  line-height: 0;
}

header .header_inner .menu_icon a {
  color: #bdbdbd;
  font-size: 1.2rem;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#nav-drawer {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification {
  font-size: 22px;
  cursor: pointer;
}

.fa-bell {
  font-size: 40px !important;
}

.message-bottom {
  height: 20px;
}

.followlist-bottom {
  height: 20px;
}

.money-bottom {
  height: 20px;
}

.logout-bottom {
  height: 20px;
}

.sidenav {
  width: 80%;
}

.collapsible-header i {
  font-size: 15px !important;
  margin-left: 14px !important;
}

.fas, .far {
  font-size: 16px;
  color: #ff6e00 !important;
  margin-right: 10px !important;
}

@media (max-width: 400px) {
  .waves-effect {
    margin-left: 0 !important;
    font-size: 10px !important;
    margin-right: 10px;
    white-space: nowrap !important;
  }
}

.awe-resize {
  font-size: 40px;
}

div {
  overflow: hidden !important;
}

@media (max-width: 1024px) {
  .pc_hyoji {
    display: none !important;
  }
}

@media (max-width: 699px) {
  .pc_hyoji {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .smt_hyoji {
    display: block !important;
  }
}

@media (max-width: 699px) {
  .smt_hyoji {
    display: block !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  .menu_icon a {
    font-size: 1.4rem;
  }
}

@media (max-width: 699px) {
  .menu_icon a {
    font-size: 1.4rem;
  }
}

@media (max-width: 699px) {
  .notification {
    font-size: 1.5rem;
    width: 50px !important;
  }
}

@media (max-width: 1024px) {
  .smt_hyoji .header_inner .header_inner_head {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .menu_icon_last,
  .notification,
  .envelope {
    margin-left: auto !important;
  }
  .notification {
    margin-left: 0px !important;
  }
  .menu_icon_last {
    margin-left: 0 !important;
  }
}

.fa-resize {
  margin-right: 5px !important;
}

.gray {
  color: #bdbdbd !important;
}
/*# sourceMappingURL=header_login.css.map */