<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <title>みのいろ</title>
</head>
<body>
    <main id="app" data-action="member/dashboard">
        <div class="back_white inner p-t3 dashContent">
            <div class="dashContent_right">
        <!-- お客様の場合 -->
        <div class="todo_area">
            <div class="todo_area_title">
                <h3>お客様のTodo</h3>
            </div>
            <div class="scroll">
                <ul class="todoList flexbox">
                    <li class="todoList_item">
                        <a href="#">
                            <span class="check_circle">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <div class="todoList_item_icon flexbox">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <span class="todoList_item_label">
                                <span class="todoList_item_label_head">プロフィールの入力</span>
                                <span class="todoList_item_label_body">できるだけ詳細に入力し<br>マッチングしやすくしましょう</span>
                            </span>
                        </a>
                    </li>
                    <li class="todoList_item">
                        <a href="#">
                            <span class="check_circle">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <div class="todoList_item_icon flexbox">
                                <span class="icon">
                                    <i class="fas fa-palette"></i>
                                </span>
                            </div>
                            <span class="todoList_item_label">
                                <span class="todoList_item_label_head">ボトルを選ぼう</span>
                                <span class="todoList_item_label_body">ボトルを４本選んで<br>コンサルティングに備えよう</span>
                            </span>
                        </a>
                    </li>
                    <li class="todoList_item">
                        <a href="#">
                            <span class="check_circle">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <div class="todoList_item_icon flexbox">
                                <span class="icon">
                                    <i class="fas fa-handshake"></i>
                                </span>
                            </div>
                            <span class="todoList_item_label">
                                <span class="todoList_item_label_head">コンサルティングを受けてみよう</span>
                                <span class="todoList_item_label_body">最短１時間後から可能</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-t2 m-b2">
            <h3>お客様サマリー</h3>
            <div class="scoreBox m-t1 m-b2 column_2">
            <div class="flexbox scoreBox_wrap">
                <div class="scoreStatus contract_manage flexbox">
                    <div class="scoreStatus_item relative">
                            <span class="scoreStatus_label flexbox">契約累計</span>
                            <span class="scoreStatus_score">1</span>
                            <span>人</span>
                    </div>
                </div>
            </div>
                <ul class="scoreStatus_lists flexbox m-t1">
                    <li class="scoreStatus_list flexbox">
                        <span class="scoreStatus_list_score">0</span>
                        <span class="scoreStatus_list_label">フォロー</span>
                    </li>
                    <li class="scoreStatus_list flexbox">
                        <span class="scoreStatus_list_score">0</span>
                        <span class="scoreStatus_list_label">フォロワー</span>
                    </li>
                    <li class="scoreStatus_list flexbox">
                        <span class="scoreStatus_list_score">0</span>
                        <span class="scoreStatus_list_label">投稿</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </main>
</body>
</html>

