<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <title>みのいろ</title>
</head>
<body>
    <header>
        <div class="v-app">
            <header class="header">
            <div class="header_inner">
                <div class="header_inner_head flexbox">
                    <div id="logo">
                        <a href="∠" class="flexbox">
                            <p>みのいろ</p>
                        </a>
                    </div>
                    <ul class="menu gnav flexbox">
                        <li class="menu_item flexbox">
                            <a href="#">コンサルタントを探す</a>
                        </li>
                        
                        <li class="menu_item flexbox">
                            <a href="#">ブログ</a>
                        </li>
                    </ul>
                
            <nav class=" navi auth_buttons flexbox">
                <div class="search>
                    <form method="GET" action="" accept-charset="UTF-8">
                    <div class="relative">
                <input id="q" placeholder="カテゴリ検索" name="q" type="text">
                <div class="absolute center-v right-1 gray2 header_search">
                <i class="fa fa-search"> </i>
            </div>
            </div>
        </form>
            </div>
                <div class="login">
                    <a href="#" tabindex="0" class="button">ログイン</a>
                </div>
                <div class="entry">
                    <a href="#" tabindex="0" class="button primaryButton">無料登録</a>
                </div>
                </nav>
            </div>
            </div>
        
            </header>
            
    <main id="app" data-action="home">
        <section class="top-keyVisual">
            <div class="top-keyVisual_container">
                <div class="top-keyVisual_heading">
                    <div class="top-keyVisual_inner heading-inner flexbox">
                        <h1 class="top-keyVisual_title">
                            <span class="top-keyVisual_copy color-main">あなたの色を見つけよう</span>
                            <span class="top-keyVisual_lead">気軽に相談してみよう</span>
                        </h1>
                        <div class="top-keyVisual_img">
                            <img src="/img/flower.jpeg" loading="lazy" height="300px" width="300px">
                        </div>
                    </div>
                </div>
                <div class="top-register_buttons buttons">
                    <a href="#" class="buttons_main alignCenter">今すぐはじめる</a>
                    <a href="#" class="buttons_link aligncenter">お客様利用ガイド</a>
                    <a href="#" class="buttons_link aligncenter">コンサルタント利用ガイド</a>
                </div>
            </div>
        </section>

    
    <section class="top-case">
        <div class="top-container">
            <div class="top-container_heading heading">
                <h2>
                    <span class="heading-copy">お客様とカラーコンサルタントを繋ぐサービス</span>
                    
                </h2>
                <p class="heading-support">日々の悩みを色でカウンセリングしてもらおう</p>
            </div>
            <!-- 大枠-->
            <div class="top-container_body">
                <!--中枠-->
                <div class="top-container_item grid img_left">
                    <div class="top-container_img item-img">
                        <img src="" loading="lazy" width="100">
                    </div>
                    <div class="top-container_text item-text flexbox">
                        <div class="item-text_body">
                            <h4 class="item-copy color-main">即日取れる<br>カウンセリング予約</h4>
                            <p class="item-description">
                                最短１時間後から予約可能。「今、コンサルしたい」時にもご利用いただけます。
                            </p>
                        </div>
                    </div>
                </div>
                <!--middle-->
                <div class="top-container_item grid img_middle">
                    <div class="top-container_img item-img">
                        <img src="" width="100">
                    </div>
                    <div class="top-container_text item-text flexbox">
                        <div class="item-text_body">
                            <h4 class="item-copy color-main">オンライン、オフライン両方対応</h4>
                            <p class="item-description">
                                まずはオンラインで、気に入ればカフェや自宅などで気軽にカウンセリングできます。
                            </p>
                            <p class="item-support-description">
                                ※交通費やカフェ代はお客様負担となります。
                            </p>
                        </div>
                    </div>
                </div>
                <!--right-->
                <div class="top-container_item grid img_right">
                    <div class="top-container_img item-img">
                        <img src="" width="200">
                    </div>
                    <div class="top-container_text item-text flexbox">
                        <div class="top-container_text item-text flexbox">
                            <div class="item-text_body">
                                <h4 class="item-copy color-main">リーズナブル</h4>
                                <p class="item-description">価格は1000円〜4500円/回の間でコンサルティングを受けることができます。金額はコンサルタントが範囲の中で自由に設定できます。</p>
                                <p class="item-support-description">※障害者手帳をお持ちの方は証明があれば更に半額となります。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h4>カラーコンサルティング（オーラソーマ）とは？</h4>
    <h3>まずは無料登録からはじめよう</h3>
    <span>今すぐはじめる</span>
    <p>コンサルタント利用ガイド</p>
    <p>お客様利用ガイド</p>

    <h2>あなたに合ったコンサルティングがきっと見つかる</h2>
    <p>カラーコンサルティング（オーラソーマ）以外にも様々なコンサルティングがあります</p>

    <p>カラーコンサルティング（オーラソーマ）</p>
    <p>手相</p>
    <p>占星術</p>
    <p>数秘</p>
    <p>タロット</p>

</div>
    <div class="under-wrapper">
        <h3>人気のセラピスト一覧</h3>
        <h3>おすすめブログ</h3>
    </div>

    <footer>
        <div class="footer_sitemap menu">
            <div class="footer_sitemap_logo">
                <a href="∠" class="flexbox">
                    <p>みのいろ</p>
                </a>
                <p class="footer_sitemap_description">あなたの色を見つけよう</p>
            </div>
            <nav>
                <h5>About</h5>
                <ul>
                    <li>
                        <a href="#">お客様ご利用ガイド</a>
                    </li>
                    <li>
                        <a href="#">コンサルタントご利用ガイド</a>
                    </li>
                    <li>
                        <a href="#">ビジョン</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <h5>Help</h5>
                <ul>
                    <li>
                        <a href="#">問い合わせ</a>
                    </li>
                    <li>
                        <a href="#">退会</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <h5>Legal</h5>
                <ul>
                    <li>
                        <a href="#">利用規約</a>
                    </li>
                    <li>
                        <a href="#">特定商取引における表記</a>
                    </li>
                    <li>
                        <a href="#">個人情報保護法</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="#">コンサルタントを探す</a>
                    </li>
                    <li>
                        <a href="#">ブログ</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>