<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <title>みのいろ</title>
</head>
<body>
    <div class="v-app">
        <header class="header pc_hyoji mini">
            <div class="header_inner">
                <div class="header_inner_head flexbox">
                    <div id="logo">
                        <a href="∠" class="flexbox">
                            <p>みのいろ</p>
                        </a>
                    </div>
                    <ul class="menu gnav flexbox">
                        <li class="menu_item flexbox">
                            <a href="#">コンサルタントを探す</a>
                        </li>
                        
                        <li class="menu_item flexbox">
                            <a href="#">ブログ</a>
                        </li>
                    </ul>
            <nav class=" navi auth_buttons flexbox">
                <div class="search">
                    <form method="GET" action="" accept-charset="UTF-8">
                    <div class="relative">
                <input id="q" placeholder="カテゴリ検索" name="q" type="text">
                <div class="absolute center-v right-1 gray2 header_search">
                <i class="fa fa-search"> </i>
            </div>
            </div>
                    </form>
            </div>
                <div class="navi_login">
                    <a href="#" tabindex="0" class="button">ログイン</a>
                </div>
                <div class="navi_entry">
                    <a href="#" tabindex="0" class="button primaryButton">無料登録</a>
                </div>
                </nav>
            </div>
            </div>
        </header>
        <header class="header smt_hyoji">
            <div class="header_inner flexbox">
                <div id="nav-drawer" class="header_inner_head flexbox">
                    <div id="logo">
                        <a href="#" class="flexbox">
                            <img src="">
                            みのいろ
                        </a>
                    </div>
                    <div class="login">
                        <a href="#">ログイン</a>
                    </div>
                    <div class="navi_entry">
                        <a href="#" tabindex="0" class="button primaryButton">登録</a>
                    </div>
                    <div class="menu_icon menu_icon_last">
                        <label id="nav-open" for="nav-input">
                            <i class="fas fa-bars"></i>
                        </label>
                    </div>
                    <label id="nav-close" for="nav-input" class="nav-unshown"></label>
                    <div id="nav-content">
                        <div class="flex">
                            <div class="search">
                                <form method="GET" action="" accept-charset="UTF-8">
                                    <input id="q" placeholder="コンサルタントを検索" name="q" type="text" class="w90p">
                                </form>
                            </div>
                        </div>
                        <ul class="p-b2 bggray">
                            <a href="#">
                                <li>
                                    <i class="fas fa-unlocke-alt"></i>
                                    ログイン
                                </li>
                            </a>
                            <a href="#" class="free_submit">
                                <li>
                                    <i class="#"></i>
                                    無料登録
                                </li>
                            </a>
                        </ul>
                        <ul class="p-b2 bggray">
                            <a href="#">
                                <li>
                                    <i class="fas fa-question-circle"></i>
                                    みのいろとは？（コンサルタント向け)
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="fas fa-question-circle"></i>
                                    みのいろとは？（お客様向け)
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="fas fa-home"></i>
                                    HOME
                                </li>
                            </a>
                            <a href="#"></a>
                            <a href="#">
                                <li>
                                    <i class="fas fa-chevron-right"></i>
                                        コンサルタントを探す
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <i class="fas fa-chevron-right"></i>
                                        ブログ
                                </li>
                            </a>
                        </ul>
                        <ul class="p-b2 bggray">
                            <a href="#">
                                <li>ビジョン</li>
                            </a>
                            <a href="#">
                                <li>利用規約</li>
                            </a>
                            <a href="#">
                                <li>個人情報保護法</li>
                            </a>
                            <a href="#">
                                <li>お問い合わせ</li>
                            </a>
                            <a href="#">
                                <li>退会</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="menu flexbox">
                    <ul>
                        <li class="menu_item">
                            <a href="#">コンサルタントを探す</a> 
                        </li>
                        <li class="menu_item">
                            <a href="#">ブログ</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        </div> 
    <main id="app" data-action="home">
        <section class="top-keyVisual">
            <div class="top-keyVisual_container">
                <div class="top-keyVisual_heading">
                    <div class="top-keyVisual_inner heading-inner flexbox">
                        <h1 class="top-keyVisual_title">
                            <span class="top-keyVisual_copy color-main">あなたの色を見つけよう</span>
                            <span class="top-keyVisual_lead">気軽に相談してみよう</span>
                        </h1>
                        <div class="top-keyVisual_img">
                            <img src="/img/flower.jpeg" loading="lazy" height="300px" width="300px">
                        </div>
                    </div>
                </div>
                <div class="top-register_buttons buttons">
                    <a href="#" class="buttons_main alignCenter">今すぐはじめる</a>
                    <a href="#" class="buttons_link aligncenter">みのいろとは？（コンサルタント向け）</a>
                    <a href="#" class="buttons_link aligncenter">みのいろとは？（お客様向け）</a>
                </div>
            </div>
        </section>

    
    <section class="top-case">
        <div class="top-container">
            <div class="top-container_heading heading">
                <h2>
                    <span class="heading-copy">お客様とカラーコンサルタントを繋ぐサービス</span>
                    
                </h2>
                <p class="heading-support">日々の悩みを色でカウンセリングしてもらおう</p>
            </div>
            <!-- 大枠-->
            <div class="top-container_body">
                <!--中枠-->
                <div class="top-container_item grid img_left">
                    <div class="top-container_img item-img">
                        <img src="" loading="lazy" width="100">
                    </div>
                    <div class="top-container_text item-text flexbox">
                        <div class="item-text_body">
                            <h4 class="item-copy color-main">即日取れる<br>カウンセリング予約</h4>
                            <p class="item-description">
                                最短１時間後から予約可能。「今、コンサルしたい」時にもご利用いただけます。
                            </p>
                        </div>
                    </div>
                </div>
                <!--middle-->
                <div class="top-container_item grid img_middle">
                    <div class="top-container_img item-img">
                        <img src="" width="100">
                    </div>
                    <div class="top-container_text item-text flexbox">
                        <div class="item-text_body">
                            <h4 class="item-copy color-main">オンライン、オフライン両方対応</h4>
                            <p class="item-description">
                                まずはオンラインで、気に入ればカフェや自宅などで気軽にカウンセリングできます。
                            </p>
                            <p class="item-support-description">
                                ※交通費やカフェ代はお客様負担となります。
                            </p>
                        </div>
                    </div>
                </div>
                <!--right-->
                <div class="top-container_item grid img_right">
                    <div class="top-container_img item-img">
                        <img src="" width="200">
                    </div>
                    <div class="top-container_text item-text flexbox">
                        <div class="top-container_text item-text flexbox">
                            <div class="item-text_body">
                                <h4 class="item-copy color-main">リーズナブル</h4>
                                <p class="item-description">価格は1000円〜4500円/回の間でコンサルティングを受けることができます。金額はコンサルタントが範囲の中で自由に設定できます。</p>
                                <p class="item-support-description">※障害者手帳をお持ちの方は証明があれば更に半額となります。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h4>カラーコンサルティング（オーラソーマ）とは？</h4>
    <h3>まずは無料登録からはじめよう</h3>
    <span>今すぐはじめる</span>
    <p>コンサルタント利用ガイド</p>
    <p>お客様利用ガイド</p>

    <h2>あなたに合ったコンサルティングがきっと見つかる</h2>
    <p>カラーコンサルティング（オーラソーマ）以外にも様々なコンサルティングがあります</p>

    <p>カラーコンサルティング（オーラソーマ）</p>
    <p>手相</p>
    <p>占星術</p>
    <p>数秘</p>
    <p>タロット</p>

</div>
    <div class="under-wrapper">
        <h3>人気のセラピスト一覧</h3>
        <h3>おすすめブログ</h3>
    </div>

    <footer>
        <div class="footer_sitemap menu">
            <div class="footer_sitemap_logo">
                <a href="∠" class="flexbox">
                    <p>みのいろ</p>
                </a>
                <p class="footer_sitemap_description">あなたの色を見つけよう</p>
            </div>
            <nav>
                <h5>About</h5>
                <ul>
                    <li>
                        <a href="#">お客様ご利用ガイド</a>
                    </li>
                    <li>
                        <a href="#">コンサルタントご利用ガイド</a>
                    </li>
                    <li>
                        <a href="#">ビジョン</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <h5>Help</h5>
                <ul>
                    <li>
                        <a href="#">問い合わせ</a>
                    </li>
                    <li>
                        <a href="#">退会</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <h5>Legal</h5>
                <ul>
                    <li>
                        <a href="#">利用規約</a>
                    </li>
                    <li>
                        <a href="#">特定商取引における表記</a>
                    </li>
                    <li>
                        <a href="#">個人情報保護法</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <h5>Links</h5>
                <ul>
                    <li>
                        <a href="#">コンサルタントを探す</a>
                    </li>
                    <li>
                        <a href="#">ブログ</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>

