.dashContent {
    display: flex;
    text-align: left;
    overflow:hidden;
}

.back_white {
    background: #f4f8fa!important;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.p-t3 {
    padding-top: 30px;
}

.dashContent_right {
    flex: 1;
    margin-left: 16px;
    margin-right: 16px;
    min-height: 0;
    min-width: 0;

    h1 {
        padding: 0;
        font-size: 28px;
        margin-bottom: 10px;
        color: #333;
    }
}

h1 {
    line-height: 150%;
    font-weight: 700!important;
}

.flexbox-justify-content-space-between {
    justify-content: space-between;
}

.flexbox-align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.navbox {
    align-items: center;
    flex-wrap: wrap;
}

.navbox_search {
    flex: 1;
    text-align: right;

    .fa-search {
        position: absolute;
        top: 21.5%;
        right: 10%;
        color: #777;
    }

    input {
        width: 250px!important;
        padding: 0 16px!important;
        border: none!important;
        border-radius: 20px!important;
        margin-bottom: 20px!important;
        height: 30px;
        background: #fff!important;

        
    }
}

input[type=text] {
    margin: 0;
    outline: 0;
    appearance: none;
    box-sizing: border-box;
    min-height: 44px;
    font-size: 16px;

    
}

input {
    overflow: visible;

    
}

.memberMsgBox {
    background: #fff;
    border: 1px solid #f6f6f6;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (max-width: 699px) {
    .back_white {
        font-size: 14px;
    }
}

@media (max-width: 699px) {
    .inner {
        margin: 0 auto;
        padding: 0!important;
    }
}

@media (max-width: 1200px) {
    .inner {
        max-width: 1100px;
        width: 97%!important;
        box-sizing: border-box;
    }
}

@media (max-width: 699px) {
    .dashContent_right {
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media (max-width: 699px) {
    .multiple_send_button {
        min-width: 217px!important;
        font-size: 12px!important;
        background: #fff!important;
        color: #ff6e00!important;
        font-weight: 700;
        border: 2px solid #ff6e00!important;
        border-radius: 4px!important;
        margin-left: auto!important;
    }
}

@media (max-width: 300px) {
    .multiple_send_button {
        font-size: 10px!important;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 300px) {

    .navbox {
    input {
        width: 210px!important;
    }
}
}

@media (max-width: 699px) {
    .flexbox-align-center {
        display: block;
        margin-bottom: 20px;
        width: 100%!important;
    }
}

.multiple_send_button {
    background: #fff!important;
    color: #ff6e00!important;
    font-weight: 700;
    border: 2px solid #ff6e00!important;
    border-radius: 4px!important;
}