<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>みのいろ</title>
</head>
<body>
    <div class="back_white inner p-t3 dashContent">
        <div class="dashContent_right">
            <div class="flex flexbox-justify-content-space-between flexbox-align-center">
                <h1>メッセージ</h1>
            </div>
            <form method="GET" action="" class="js-auto-submit">
                <div class="navbox">
                    <div class="navbox_search">
                        <input id="message_q" class="messageHeader_searchbox" placeholder="メッセージを検索" name="message_q" type="text">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </form>
            <div class="memberMsgBox reminder_setting">
                <p>おはよう</p>
            </div>
            <div class="memberMsgBox reminder_setting">
                <p>こんにちは</p>
            </div>
        </div>
    </div>
</body>
</html>