<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="password_change.css">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <title>みのいろ</title>
</head>
<body>
    <div class="dashContent">
    <div class="dashContent_right">
        <h1>パスワード変更</h1>
    <form method="POST">
    <div class="boxbaseP30">
        <div class="in">
            <table class="editable">
                <tbody>
                    <tr>
                        <th width="150">旧パスワード</th>
                        <td>
                            <div class="w300">
                                <input class="w300" required autofocus name="old_password" type="password">
                                <i class="fas fa-eye icon_eye js-toggle-password"></i>
                                <span class="help-block"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>新しいパスワード</th>
                        <td>
                            <div class="w300">
                                <input class="w300" required placeholder="英数文字8文字以上" name=password type="password">
                                <i class="fas fa-eye icon_eye js-toggle-password"></i>
                                <span class="help-block"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="imasugu alignCenter">
        <button class="btn" type="submit">変更する</button>
    </div>
    </form>
    </div>
</div>
</body>
</html>