.dashContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.back_white {
  background: #f4f8fa !important;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-t3 {
  padding-top: 30px;
}

.dashContent_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  min-height: 0;
  min-width: 0;
}

.dashContent_right h1 {
  padding: 0;
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

h1 {
  line-height: 150%;
  font-weight: 700;
}

.flexbox-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.month_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.month_head .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month_head .left input[type=date] {
  height: 36px;
}

.rireki_form {
  background: #eaf0f3;
  padding: 16px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rireki_calendar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-l-8 {
  margin-top: 10px;
}

input[type=date] {
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4eaec;
  min-height: 44px;
  font-size: 16px;
  border-radius: 4px;
}

input {
  overflow: visible;
}

.rireki_search {
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 16px;
  height: auto;
  line-height: 1.5;
  background: #ff6e00;
  color: #fff;
  border: none;
  margin-left: 16px;
  cursor: pointer;
}

[type=submit] {
  -webkit-appearance: button;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ellipsis_menu {
  position: relative;
  z-index: 1;
}

.ellipsis_menu ul {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid #eee;
  z-index: 100;
  border-radius: 8px;
  overflow: hidden;
}

.ellipsis_menu ul li {
  display: block;
  border-radius: 4px;
}

.ellipsis_menu ul li:first-of-type {
  border-top: none;
}

.m-b2 {
  margin-bottom: 20px;
}

.ellipsis_menu_button {
  width: 40px;
  height: 40px;
  line-height: 43px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}

.fa-fw {
  text-align: center;
  width: 1.25rem;
}

.nopadding {
  padding: 0 !important;
}

.boxbaseP30 {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
  overflow: hidden;
}

.boxbaseP30 .in {
  margin: 0 auto;
}

.rireki_zandaka {
  background: #eaf0f3;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  margin-left: auto;
}

.alignRight {
  text-align: right;
}
/*# sourceMappingURL=payouts.css.map */