main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

.dashContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.dashContent .consultant_plan_link {
  position: relative;
}

.back_white {
  background: #f4f8fa !important;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-t3 {
  padding-top: 30px;
}

.dashContent_left {
  min-width: 230px;
  width: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
}

ul {
  list-style: none;
}

.dashContent_sidemenu .active {
  color: #ff6e00;
  font-weight: 700;
}

.dashContent_sidemenu li ul li {
  overflow: hidden;
  height: 0;
  list-style: none;
}

.dashContent_sidemenu li {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
}

.dashContent_sidemenu li ul li:last-child a {
  padding-bottom: 15px;
}

.dashContent_sidemenu li ul li:first-child a {
  padding-top: 15px;
}

.dashContent_sidemenu li ul li a {
  padding: 8px 20px;
  background: #fff;
  text-align: left;
  font-weight: 400;
  font-size: .9rem;
  color: #ff6e00;
  height: auto;
}

.dashContent_sidemenu a {
  height: 30px;
  line-height: 100%;
  font-size: .9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px 0 0;
  padding: 8px 10px;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #4f5050;
}

.fa {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

a:hover {
  color: #ff6e00;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.small {
  color: #666;
  font-size: 12px;
}

.dashContent_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  min-height: 0;
  min-width: 0;
}

.dashContent_right h1 {
  padding: 0;
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.month_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.month_head .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month_head .left input[type=date] {
  height: 36px;
}

.rireki_form {
  background: #eaf0f3;
  padding: 16px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rireki_calendar {
  position: relative;
}

input[type=date] {
  margin: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4eaec;
  min-height: 44px;
  font-size: 16px;
  border-radius: 4px;
}

input {
  line-height: normal;
  overflow: visible;
}

.rireki_search {
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 16px;
  height: auto;
  line-height: 1.5;
  background: #ff6e00;
  color: #fff;
  border: none;
  margin-left: 16px;
  cursor: pointer;
}

[type=submit] {
  -webkit-appearance: button;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ellipsis_menu {
  position: relative;
  z-index: 100;
}

.m-b2 {
  margin-bottom: 20px;
}

.ellipsis_menu ul {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid #eee;
  z-index: 100;
  border-radius: 8px;
  overflow: hidden;
}

.ellipsis_menu ul li:first-of-type {
  border-top: none;
}

.ellipsis_menu ul li {
  display: block;
  border-radius: 4px;
}

.ellipsis_menu ul li a {
  background: #fff;
  color: #444;
  padding: 8px 20px;
  width: 200px;
  display: block;
  font-size: 14px;
}

.ellipsis_menu_button {
  width: 40px;
  height: 40px;
  line-height: 43px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}

.nopadding {
  padding: 0 !important;
}

.boxbaseP30 {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: solid #f6f6f6;
  border-radius: 8px;
  overflow: hidden;
}

.boxbaseP30 .in {
  margin: 0 auto;
}

.rireki_zandaka {
  background: #eaf0f3;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  margin-left: auto;
}

.alignRight {
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.dashContent_sidemenu li:hover ul {
  position: relative;
  overflow: visible;
  top: -40px;
  left: 100px;
  height: auto;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  z-index: 100;
  width: 170px;
  padding-left: 0;
}

.dashContent_sidemenu li:hover ul li a {
  text-align: center;
}

.dashContent_sidemenu li:hover ul li a:hover {
  color: #ffa866 !important;
}

.dashContent_sidemenu li:hover ul li {
  overflow: visible;
  height: auto;
  padding: 0;
}

.dashContent_sidemenu li:hover ul {
  display: block;
}
/*# sourceMappingURL=payouts.css.map */