<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- End Google Tag Manager -->
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <link rel="stylesheet" href="plan_edit.css">
    <script src="plan_edit.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>みのいろ</title>
</head>
<body>
    <div class="js-plan-edit back_white inner p-t3 dashContent">
        <div class="dashContent_right">
            <h1>コンサルタントプラン編集／追加</h1>
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>
                下書き保存しました。まだ公開されていません。
            </div>
            <div class="alert alert-info">
                <p>
                    <i class="fas fa-info-circle"></i>
                    プランの公開には運営チームによる確認が必要です。
                    <a href="#">規約</a>
                    ・
                    <a href="#">ガイドライン</a>
                    に抵触していないか確認後、公開されます。
                </p>
            </div>
            <div id="vapp"></div>
            <div class="plan_preview flexbox">
                <div class="small alignRight">
                    <i class="fas fa-info-circle"></i>
                    プレビューボタンを押してもプランの保存はされません。
                </div>
                <div>
                    <button type="button" class="waves-effect waves-light btn custom-btn3" name="btn_plan_preview" onclick="$(window).off('beforeunload');">プレビュー</button>
                </div>
            </div>
            <form method="POST" action="" class name="plan_submit" encrype="multipart/form-data">
                <input name="_token" type="hidden">
                <div class="boxbaseP30 plan_field plan_module z-depth-1">
                    <div class="in plan_field_inner">
                        <span class="plan_module_subject">コンサルティングプラン</span>
                        <div class="m-b2">
                            プランを登録すると
                            <a href="#" class="link" target="_blank">コンサルタントとして掲載</a>
                            されます。
                        </div>
                        <div class="form_item">
                            <div class="form_item_head flexbox">
                                <h3>タイトル</h3>
                                <span class="required_label">必須</span>
                                <p class="small">提供できる内容をわかりやすく記載しましょう。20文字以上80文字以内。</p>
                            </div>
                            <div class="form_item_body">
                                <div class="m-t-5">
                                    <input class="w100p" placeholder="カップルコンサルできます!" name="title" type="text">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <div class="form_item_head flexbox">
                                <h3>カテゴリー</h3>
                                <span class="required_label">必須</span>
                            </div>
                            <div class>
                                <div id="vapp2">
                                    <div>
                                        <div class="select-wrap">
                                            <select name="category_id[]">
                                                <option value="1">カラーコンサルティング</option>
                                                <option value="2">数秘</option>
                                            </select>
                                        </div>
                                        <div class="mt-6">
                                            <h4>関連するタグ（３つまで選べます）</h4>
                                            <div class="mt-3 js-another-category-selector checkbox_list_item">
                                                <label class="inline-block">
                                                    <div class="chip">
                                                        恋愛
                                                    </div>                 
                                                </label>
                                                <label class="inline-block">
                                                    <div class="chip">
                                                        就活
                                                    </div>              
                                                </label>
                                                <label class="inline-block">
                                                    <div class="chip">
                                                        夫婦関係
                                                    </div>              
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form_item">
                            <div class="form_item_head flexbox">
                                <h3>できること</h3>
                                <span class="required_label">必須</span>
                                <p class="small">
                                    1000文字以上5,000文字以内。
                                    <a class="modal-trigger_q_markdown modal-trigger" href="#modal1">Markdown記法が使えます<i class="fas fa-question-circle pointer"></i></a>
                                        <!-- Modal Structure -->
                                        <div id="modal1" class="modal">
                                            <div class="modal-content">
                                            <h4>Markdown記法の書き方</h4>
                                            <p>Markdownを使った書き方をご紹介します。</p>
                                            </div>
                                            <ul class="markdown-help">
                                                <li class="markdown-help_list">
                                                    <div class="markdown-body">
                                                        <h1>見出し</h1>
                                                    </div>
                                                    <div>
                                                        <pre style="display: block;"># 見出し1 <br>## 見出し2 <br> ### 見出し3</pre>
                                                    </div>
                                                    <div class="markdown-body">
                                                        <h1>見出し</h1>
                                                        <h2>見出し</h2>
                                                        <h3>見出し</h3>
                                                    </div>
                                                </li>
                                                <li class="markdown-help_list">
                                                    <div class="markdown-body">
                                                        <h1>リスト</h1>
                                                    </div>
                                                    <div>
                                                        <pre>- 箇条書き<br>   -箇条書き</pre>
                                                    </div>
                                                    <div class="markdown-body">
                                                        <ul>
                                                            <li>
                                                                <i class="fas fa-circle size"></i>メニュー
                                                            </li>
                                                            <ul>
                                                                <li>
                                                                    <i class="far fa-circle size"></i>サブメニュー
                                                                </li>
                                                            </ul>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="markdown-help_list">
                                                    <div class="markdown-body">
                                                        <h1>太字</h1>
                                                    </div>
                                                    <div>
                                                        <pre>**太字**<br>__太字__</pre>
                                                    </div>
                                                </li>
                                                <li class="markdown-help_list">
                                                    <div class="markdown-body">
                                                        <h1>水平線</h1>
                                                    </div>
                                                    <div>
                                                        <pre>___<br>***<br>* * *</pre>
                                                    </div>
                                                </li>
                                                <li class="markdown-help_list"></li>
                                                    <div class="markdown-body">
                                                        <h1>打ち消し線</h1>
                                                    </div>
                                                    <div>
                                                        <pre>~~打ち消し線~~</pre>
                                                    </div>
                                                <li class="markdown-help_list">
                                                    <div class="markdown-body">
                                                        <h1>リンク</h1>
                                                    </div>
                                                    <div>
                                                        <pre style>[リンク](https://...)</pre>
                                                    </div>
                                                </li>
                                                <li class="markdown-help_list">
                                                    <div class="markdown-body">
                                                        <h1>画像の埋め込み</h1>
                                                    </div>
                                                    <div>
                                                        <pre>![画像名](https://...)</pre>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                </p>
                            </div>
                            <div class="form_item_body">
                                <textarea class placeholder="何でも相談乗ります!" name="pr" cols="50" rows="10"></textarea>
                                <span classs="help-block"></span>
                            </div>
                        </div>
                        <div class="plan_edit_unit m-t2">
                            <h3>Youtube動画URL</h3>
                            <p class="small m-t1">Youtube動画の登録ができます。登録動画はプラン詳細に表示され、お客様への信頼度向上が期待できます。</p>
                            <div class="plan_edit_items m-t2 flexbox">
                                <div class="plan_edit_item">
                                    <div class="m-t1">
                                        <input type="text" name="youtube_url" class="w100p" placeholder="https://www.youtube.com/watch?v=XXXXXXXXXXXX">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--プラン選択-->
                <div class="boxbaseP30 plan_module plan_select z-depth-1">
                    <div class="in">
                        <span class="plan_module_subject">プランの選択</span>
                        <p class="m-t-5">
                            初めはオンラインでチャットかビデオ通話でコンサルしていただくのがおススメです。
                            <br>
                            お互いに信頼関係ができたらぜひオフラインで会ってみましょう。
                        </p>
                        <div class="plan_select_buttons flexbox">
                            <div class="row">
                                <div class="col1 s12 m3">
                                  <div class="card blue-grey darken-1 card-custom">
                                    <div class="card-content white-text">
                                      <span class="card-title">Card Title</span>
                                      <p>I am a very simple card. I am good at containing small bits of information.
                                      I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                      <a href="#">This is a link</a>
                                      <a href="#">This is a link</a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col1 s12 m4">
                                  <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                      <span class="card-title">Card Title</span>
                                      <p>I am a very simple card. I am good at containing small bits of information.
                                      I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                      <a href="#">This is a link</a>
                                      <a href="#">This is a link</a>
                                    </div>
                                  </div>
                                </div>
                              </div>


                        </div>
                        <div class="btn-cutom4">
                        <a class="waves-effect waves-light btn-large"><i class="material-icons middle">create</i>自分でプランを作成する</a>
                        </div>

                        <p class="small m-t2">
                            <i class="fas fa-info-circle"></i>
                            お客様個別のプランを作ることもできます。お客様のプロフィールページより「このユーザー専用のプランを作る」から作成してください。
                        </p>
                    </div>
                </div>
                <!--プラン入力-->
                <div id="vapp" class="plan_module js-plan_input m-t2"></div>
                <div class="boxbaseP30 plan_module z-depth-1">
                    <div class="in">
                        <div class="status_unit">
                            <div class="status_unit_head flexbox">
                                <h3 class="status_unit_head_label">ステータス</h3>
                                <div class="status_unit_head_select">
                                    <div class="form-group">
                                        <div class="select-wrap">
                                            <select class="js-judgement-status" name="status">
                                                <option value="accept">相談できます</option>
                                                <option value="busy">今、忙しいです</option>
                                                <option value="hidden">表示しない</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="status_unit_head_body">
                                <p class="small">今、忙しいです : コンサルタント一覧には表示されますが契約できなくなります</p>
                                <p class="small">表示しない : コンサルタント一覧に表示されなくなります</p>
                            </div>
                        </div>
                        <div class="status_unit">
                            <div class="status_unit_head flexbox">
                                <h3 class="status_unit_head_label">コンセント</h3>
                                <div class="status_unit_head_select">
                                     <div class="form-group">
                                         <div class="select-wrap">
                                             <select name="contract_status">
                                                 <option value="no">承認なし</option>
                                                 <option value="yes">承認あり</option>
                                             </select>
                                         </div>
                                     </div>
                                </div>
                            </div>
                            <div class="status_unit_head_body">
                                <p class="small">承認あり : コンサルタントが契約を承認後のみ契約可能</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--保存ボタンエリア-->
                <div class="boxbaseP30 plan_module plan_module_submit z-depth-1">
                    <div class="plan_module_submit_buttons alignCenter center">
                        <div class="main_button flexbox">
                            <a class="waves-effect waves-light btn-large custom-btn">下書き</a>
                            <a class="waves-effect waves-light btn-large custom-btn2">コンサルティングプランを保存する</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>