.dashContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.back_white {
  background: #f4f8fa !important;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-t3 {
  padding-top: 30px;
}

.dashContent_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  min-height: 0;
  min-width: 0;
}

.dashContent_right .boxbaseP30 .in {
  margin: 0 auto;
}

.dashContent_right h1 {
  padding: 0;
  font-size: 28px !important;
  margin-bottom: 10px;
  color: #333;
}

h1 {
  line-height: 150%;
  font-weight: 700 !important;
}

.alert-success {
  width: 100%;
  background: #e0f5f0;
  padding: 8px 16px 8px 40px;
  margin-bottom: 10px;
  border: 1px solid #c4e0d9;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #148a6e;
  position: relative;
  line-height: 1.5;
}

.alert-info {
  color: #070560;
  background: #e2ecfb;
  padding: 8px 16px 8px 40px;
  padding-top: 0px !important;
  margin-bottom: 10px;
  border: 1px solid #d1dbea;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  height: 45px;
}

.custom-btn {
  background: #fff !important;
  color: #ff6e00 !important;
  border: 2px solid #ff6e00 !important;
}

.custom-btn:hover {
  background: #994100 !important;
}

.custom-btn2 {
  background: #ff6d00 !important;
}

.custom-btn2:hover {
  background: #994100 !important;
}

.waves-effect {
  font-weight: 600;
}

.alert {
  padding-left: 0 !important;
}

.alert a {
  color: #ff6e00 !important;
}

p {
  font-size: 15px;
  margin: 0;
}

.plan_preview {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small {
  color: #666;
  font-size: 12px;
}

.alignRight {
  text-align: right;
}

.fas {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.custom-btn3 {
  margin-left: auto;
  display: block;
  border: 1px solid #ff6e00 !important;
  background: #f0f8f9 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  border-radius: 4px !important;
  color: #ff6e00 !important;
  cursor: pointer;
}

.plan_field {
  position: relative;
  border-radius: 8px;
}

.boxbaseP30 {
  padding: 40px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f6f6f6;
  overflow: hidden;
}

.plan_module_subject {
  font-size: 24px !important;
  font-weight: 600;
}

.m-b2 {
  margin-bottom: 20px;
}

.link {
  color: #ff6e00;
}

.plan_module .form_item_body {
  margin-top: 8px;
}

.plan_module .form_item {
  margin-top: 24px;
  border-top: 1px dashed #e5e5e5;
  padding: 24px 0 0;
}

.plan_module .form_item_head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #666;
}

.plan_module .form_item_head h3 {
  width: auto;
  margin-right: 8px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

.form_item {
  line-height: 1.5;
}

.required_label {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  padding: 0 7px;
  margin: 0 4px;
  height: 20px;
  border: 2px solid #ff6e00;
  color: #ff6e00;
}

.small {
  color: #666;
  font-size: 12px;
}

.m-t-5 {
  margin-top: 5px !important;
}

input[type-text], textarea {
  margin: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4eaec;
  min-height: 44px;
  font-size: 16px;
  border-radius: 4px;
}

.w100p {
  width: 100%;
}

input {
  line-height: normal;
  overflow: visible;
}

.help-block {
  font-size: 12px;
  display: block;
  color: #fd5050;
}
/*# sourceMappingURL=plan_edit.css.map */