@charset "UTF-8";
.dashContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.back_white {
  background: #f4f8fa !important;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-t3 {
  padding-top: 30px;
}

.dashContent_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  min-height: 0;
  min-width: 0;
}

.dashContent_right .boxbaseP30 .in {
  margin: 0 auto;
}

.dashContent_right h1 {
  padding: 0;
  font-size: 28px !important;
  margin-bottom: 10px;
  color: #333;
}

h1 {
  line-height: 150%;
  font-weight: 700 !important;
}

.alert-success {
  width: 100%;
  background: #e0f5f0;
  padding: 8px 16px 8px 40px;
  margin-bottom: 10px;
  border: 1px solid #c4e0d9;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #148a6e;
  position: relative;
  line-height: 1.5;
}

.alert-info {
  color: #070560;
  background: #e2ecfb;
  padding: 8px 16px 8px 40px;
  border: 1px solid #d1dbea;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  line-height: 1.5;
}

.custom-btn {
  background: #fff !important;
  color: #ff6e00 !important;
  border: 2px solid #ff6e00 !important;
  width: 300px !important;
  margin-right: 50px;
  margin-left: 100px;
}

.custom-btn:hover {
  background: #994100 !important;
}

.custom-btn2 {
  background: #ff6d00 !important;
  width: 500px !important;
  margin-right: 100px;
}

.custom-btn2:hover {
  background: #994100 !important;
}

.waves-effect {
  font-weight: 600;
}

.alert {
  padding-left: 10px !important;
}

.alert a {
  color: #ff6e00 !important;
}

p {
  font-size: 15px;
  margin: 0;
}

.plan_preview {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 7;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small {
  color: #666;
  font-size: 12px;
}

.alignRight {
  text-align: right;
}

.fas {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.custom-btn3 {
  margin-left: auto;
  display: block;
  border: 1px solid #ff6e00 !important;
  background: #f0f8f9 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  border-radius: 4px !important;
  color: #ff6e00 !important;
  cursor: pointer;
}

.custom-btn3:hover {
  background: #a7d6dc !important;
}

.plan_field {
  position: relative;
  border-radius: 8px;
}

.boxbaseP30 {
  padding: 40px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f6f6f6;
  overflow: hidden;
  border-radius: 8px;
}

.plan_module_subject {
  font-size: 24px !important;
  font-weight: 600;
}

.m-b2 {
  margin-bottom: 20px;
}

.link {
  color: #ff6e00;
}

.plan_module .status_unit_head_select {
  width: 50%;
}

.plan_module .status_unit_head_select .selet-wrap {
  width: 100%;
}

.plan_module .status_unit_head {
  margin-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan_module .status_unit:first-of-type {
  padding: 0;
  margin: 0;
  border-top: none;
}

.plan_module .form_item_body {
  margin-top: 8px;
}

.plan_module .form_item {
  margin-top: 24px;
  border-top: 1px dashed #e5e5e5;
  padding: 24px 0 0;
}

.plan_module .form_item textarea {
  resize: none !important;
}

.plan_module .form_item_head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #666;
}

.plan_module .form_item_head h3, .plan_module .form_item_head h4 {
  width: auto;
  margin-right: 8px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 800;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}

.form_item {
  line-height: 1.5;
}

.required_label {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  padding: 0 7px;
  margin: 0 4px;
  height: 20px;
  border: 2px solid #ff6e00;
  color: #ff6e00;
}

.small {
  color: #666;
  font-size: 12px;
}

.m-t-5 {
  margin-top: 5px !important;
}

input[type-text] {
  margin: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4eaec;
  min-height: 44px;
  font-size: 16px;
  border-radius: 4px;
}

.w100p {
  width: 100%;
}

input {
  line-height: normal;
  overflow: visible;
}

.help-block {
  font-size: 12px;
  display: block;
  color: #fd5050;
}

.select-wrap {
  position: relative;
}

select {
  padding-right: 2rem;
  outline: none;
  text-indent: 0.01px;
  vertical-align: middele;
  height: 40px;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 3px;
  position: relative;
  display: inline-block !important;
}

select, textarea {
  line-height: normal;
  padding: 0.5rem 0.75rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.inline-block {
  display: inline-block;
}

textarea {
  line-height: normal;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d5d5d5 !important;
  border-radius: 4px;
  width: 100%;
  height: 240px;
}

.plan_edit_unit {
  border-radius: 6px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
}

.m-t2 {
  margin-top: 20px;
}

.plan_edit_item {
  width: 100%;
}

.plan_module_subject {
  font-size: 24px;
  font-weight: 600;
}

.m-t-5 {
  margin-top: 5px !important;
}

p {
  font-size: 15px;
  margin: 0;
}

.plan_select_buttons {
  margin: 24px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-large {
  width: 100%;
  background: #ff6e00;
  border-radius: 4px;
  height: 60px;
}

.btn-large:hover {
  background: #994200;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-wrap {
  position: relative;
}

select {
  padding-right: 2rem;
}

.js-judgment-status {
  width: 100%;
}

.status_unit select {
  width: 420px !important;
  margin-left: 600px;
  margin-right: 0 !important;
}

.plan_module_submit {
  background: #bcaaa4;
  border: #bcaaa4 !important;
}

.card-custom {
  margin-right: 25px;
}

.card-custom2 {
  margin-left: 25px;
}

.markdown-help {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  margin-left: 20px;
  margin-right: 50px;
}

.markdown-help pre {
  background: #333;
  padding: 10px;
  margin-top: 0;
  color: #f5f5f5;
  border-radius: 4px;
  display: block !important;
}

.alignCenter > * {
  margin: 0 auto;
}

.markdown-help_list {
  margin: 32px 0 0;
}

.markdown-body {
  font-size: 16px;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body ul {
  padding-left: 2em;
}

.markdown-body h1, .markdown-body h2 {
  border-bottom: 1px solid #eaecef;
}

.markdown-body h1 {
  font-size: 20px !important;
  padding-bottom: 5px !important;
  color: #333;
}

.markdown-body h2 {
  font-size: 18px !important;
  border: none;
  text-align: left;
  padding-bottom: 0.3rem;
  font-weight: 700;
}

.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}

.size {
  font-size: 0.05rem !important;
}

.modal {
  width: 35%;
  border-radius: 4px;
}

.btn-custom5 {
  background: #fff;
  color: #ff6e00;
  border: 2px solid #ff6e00;
  border-radius: 99px;
  width: 100%;
  margin-bottom: 20px !important;
}

.btn-custom6 {
  font-size: 12px;
  background: #f0f8f9;
  color: #ff6e00;
  border: 1px solid #ff6e00;
  width: 190px;
}

.btn-custom6:hover {
  background: #994200;
}

.m-t2 {
  margin-top: 20px;
}

.plan_create_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.plan_module_PlanTitle {
  display: block;
}

.plan_module_subject {
  font-size: 24px;
  font-weight: 600;
}

.gengeral_tab_wrapper {
  overflow: hidden;
}

.m-t1 {
  margin-top: 10px;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.planbox textarea {
  min-height: 240px;
}

.planbox h3 {
  display: inline-block;
  width: auto;
  font-size: 17px;
  margin-right: 7px;
}

.planbox .item_name {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planbox .item {
  width: 100%;
}

.planbox .left input[type=text] {
  width: 400px !important;
}

.material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricebox {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
}

@media (max-width: 699px) {
  .pricebox {
    width: 70px !important;
  }
}

.yen {
  margin-top: 10px;
  margin-left: 5px;
}

.optional_label {
  border: 2px solid #666;
  color: #666;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  padding: 0 7px;
  margin: 0 4px;
  height: 20px;
}

.use_purpose_checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purpose-check {
  margin-right: 10px;
  color: #333;
}

.once {
  color: #333;
}

.chatbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

.chat,
.video {
  color: #333;
}

.chat {
  margin-right: 10px;
}

.btn-custom7 {
  background: #fff;
  color: #ff5b5b;
  border: 1px solid #ff5b5b;
  border-radius: 4px;
}

.btn-custom7:hover {
  background: #ff2828 !important;
}

@media (max-width: 1200px) {
  .inner {
    max-width: 1100px;
    width: 97% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .inner {
    margin: 0 20px !important;
  }
}

body {
  background: #f4f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body, html {
  margin: 0 auto;
  padding: 0;
  color: #333;
  text-rendering: optimizeLagibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "pkna";
          font-feature-settings: "pkna";
  letter-spacing: .01em;
  font-size: 15px;
  word-break: break-all;
}

@media (max-width: 699px) {
  .back_white {
    font-size: 14px;
  }
  .back_white p {
    text-align: left;
  }
}

@media (max-width: 699px) {
  .inner {
    margin: 0 auto;
    padding: 0 !important;
  }
}

@media (max-width: 699px) {
  .dashContent_right {
    margin-top: 20px;
    margin-left: 1px;
  }
  .dashContent_right h1 {
    font-size: 24px !important;
  }
}

@media (max-width: 699px) {
  .alert,
  .alert-info {
    padding: 8px 16px 8px 42px;
  }
}

@media (max-width: 699px) {
  .alert-info {
    font-size: 12px;
  }
}

@media (max-width: 699px) {
  .alert p {
    font-size: 12px;
  }
}

@media (max-width: 699px) {
  .plan_preview {
    padding: 8px;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 7 !important;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1px;
  }
}

@media (max-width: 800px) {
  .small {
    font-size: 10px !important;
    /* その上で、下記を指定する。word-breakと併せて指定しましょう */
    overflow-wrap: break-word;
    /* その上で、下記のいずれかを指定する。overflow-wrapと併せて指定しましょう */
    word-break: break-word;
    word-break: break-all;
  }
}

@media (max-width: 960px) {
  .custom-btn3 {
    font-size: 12px;
    width: 100px;
  }
}

@media (max-width: 699px) {
  .boxbaseP30 {
    padding: 16px;
  }
}

@media (max-width: 699px) {
  .plan_module_subject {
    font-size: 20px !important;
  }
}

@media (max-width: 699px) {
  .plan_module .form_item_head {
    display: block;
  }
  .plan_module .form_item_head h3 {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 699px) {
  .required_label {
    margin-bottom: 10px;
  }
}

@media (max-width: 699px) {
  textarea {
    height: 150px;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 960px) {
  .plan_edit_unit {
    padding: 24px 4%;
  }
}

@media (max-width: 800px) {
  .m-t1 {
    font-size: 10px;
    word-break: break-all !important;
  }
}

@media (max-width: 699px) {
  .plan_module_subject {
    font-size: 20px !important;
  }
}

@media (max-width: 699px) {
  .plan_select_buttons {
    display: block !important;
  }
}

@media (max-width: 699px) {
  .card-custom {
    margin-right: 0;
  }
}

@media (max-width: 699px) {
  .card-custom2 {
    margin-left: 0;
  }
}

@media (max-width: 699px) {
  .plan_module_subject {
    font-size: 20px !important;
  }
}

@media (max-width: 699px) {
  .plan_module_submit_buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 699px) {
  .custom-btn {
    width: 100% !important;
    padding: 0;
  }
}

@media (max-width: 699px) {
  .custom-btn2 {
    width: 100% !important;
    margin-left: 12px;
    white-space: normal;
  }
}

@media (max-width: 699px) {
  .status_unit_head_label {
    padding-top: 0 !important;
    white-space: nowrap;
  }
}

@media (max-width: 699px) {
  .status_unit select {
    margin-left: 100px !important;
    margin-right: 10px !important;
    width: 100%;
  }
}

@media (max-width: 699px) {
  .status_unit_head_select {
    width: 60% !important;
  }
}

@media (max-width: 699px) {
  .status_unit_head select {
    width: 100% !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-left: 80px !important;
  }
}

@media (max-width: 300px) {
  .custom-btn,
  .custom-btn2,
  .boxbaseP30 {
    font-size: 8px !important;
    padding: 20px 10px;
  }
}

.custom-btn {
  margin-left: 65px;
}

.custom-btn2 {
  width: 600px !important;
  margin-right: 10px !important;
}

.main_button {
  width: 1280px;
}

@media (max-width: 300px) {
  .status_unit_head select {
    margin-left: 10px !important;
  }
}

@media (max-width: 1024px) {
  .status_unit_head_label {
    white-space: nowrap;
  }
  .status_unit_head select {
    margin-left: 400px;
  }
}

@media (max-width: 699px) {
  .purpose-check {
    width: 699px !important;
    display: inline-block !important;
  }
}

@media (max-width: 699px) {
  .planbox .left {
    width: 100%;
    margin: 0;
    text-align: left;
  }
  .planbox .left input[type=text], .planbox .left textarea {
    width: 100%;
  }
}

@media (max-width: 699px) {
  .planbox .left input[type=text] {
    width: 100% !important;
  }
  .planbox input {
    margin-bottom: 10px;
  }
}

@media (max-width: 699px) {
  .plan_module .planbox .pricebox {
    margin: 8px 0 0;
    width: 20%;
  }
  .plan_module .planbox .pricebox .yen {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 699px) {
  .material {
    display: block !important;
  }
}

@media (max-width: 699px) {
  .yen {
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (max-width: 699px) {
  .use_purpose_checkboxes {
    display: inline-block !important;
  }
}

@media (max-width: 699px) {
  .custom-btn {
    margin-right: 0;
    margin-left: 0;
    width: 40% !important;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
  }
}

@media (max-width: 699px) {
  .custom-btn2 {
    margin-right: 0;
    width: 70%;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
  }
}

@media (max-width: 699px) {
  .main_button a {
    /* その上で、下記を指定する。word-breakと併せて指定しましょう */
    overflow-wrap: break-word;
    /* その上で、下記のいずれかを指定する。overflow-wrapと併せて指定しましょう */
    word-break: break-word;
    word-break: break-all;
  }
}

@media (max-width: 1024px) {
  .custom-btn {
    width: 40% !important;
    margin-left: 0 !important;
  }
  .custom-btn2 {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .main_button {
    width: 100% !important;
  }
}
/*# sourceMappingURL=plan_edit.css.map */