.userProfileHeader {
  padding: 16px 4%;
  background: #ff6e00;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 5px solid #fff;
}

.userProfileHeader_inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto -32px;
  max-width: 1200px;
  width: 100%;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userProfileHeader_icon .icon {
  border: 6px solid #ff6e00;
  background: #f4f8fa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.size125 {
  width: 125px;
  height: 125px;
}

.icon {
  margin: 0 auto;
  border-radius: 50%;
  background-position: top;
  background-size: cover;
}

.userProfileHeader_name {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 24px;
  width: calc(100% - 170px);
  padding-bottom: 16px;
}

.userProfileHeader_name .snsicon {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1.2rem !important;
  line-height: 1.2rem;
  padding: 0;
}

.userProfileHeader_name .snsicon i {
  color: #fff !important;
  margin-right: 2px;
}

.userProfileHeader_name h1 {
  color: #fff;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
}

h1 {
  line-height: 150%;
}

.snsicon {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.snsicon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-r1 {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #4f5050;
}

.fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.userProfile .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userProfile .userProfile_Main {
  margin-top: 40px;
  width: 800px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.scoreBox {
  background: #fff;
  border: 1px solid #f6f6f6;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.scoreBox .contract_manage {
  border: 1px solid #eee;
  width: 32%;
}

.scoreBox .scoreStatus_score {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #ff6e00;
}

.scoreBox .scoreStatus_score small {
  font-size: 16px;
  margin-left: 4px;
}

.scoreBox .response {
  background: #f4f8fa;
}

.scoreBox .review {
  background: #fffae7;
}

.scoreBox .scoreStatus {
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  width: 18%;
}

.scoreBox .scoreStatus_label {
  font-size: 14px;
  display: block;
}

.scoreBox .scoreStatus_star {
  font-size: 1.1rem;
  margin-top: 8px;
  display: block;
}

.m-b2 {
  margin-bottom: 20px;
}

.m-t1 {
  margin-top: 10px;
}

.scoreBox_wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.yellow {
  color: #fdca00;
  background: linear-gradient(241.35deg, #ffe895 9.83%, #cc9300 81.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow > i.fa-star,
.yellow > i.fa-star-half {
  display: inline;
}
/*# sourceMappingURL=profile_consultant.css.map */