<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="select_bottles.css">
    <title>ボトルを選ぶ</title>
</head>
<body>
    <div style="text-align:center;margin:0 auto;width:800px;">
        <h1 id="reading_title">
            オーラソーマは４本のボトルを選ぶことで、あなたの魂のメッセージをお伝えします。無料オーラソーマ ミニリーディング。選んだ４本のボトルから、あなたの人生の目的や使命、潜在的な可能性や才能、現在の状況、これからの方向性のヒントが得られます。
        </h1>
        <br>
        <div id="reading">
            <div id="box">
                <a id="bottle1" class="next1" href="" title="選んだボトルを拡大してみる" style="padding-top: 0px"></a>
                <a id="bottle2" class="remain2" href="" title="選んだボトルを拡大してみる" style="padding-top: 0px"></a>
                <a id="bottle3" class="remain3" href="" title="選んだボトルを拡大してみる" style="padding-top: 0px"></a>
                <a id="bottle4" class="remain4" href="" title="選んだボトルを拡大してみる" style="padding-top: 0px"></a>

            </div>
            <div id="navi">
                <ul>
                    <li id="no1">
                        <a href="#" id="del1" title="選び直す" style="display: none;">選び直す</a>
                    </li>
                    <li id="no1-1">
                        <a href="#" id="enlarge1" title="選んだボトルを拡大してみる" style="display:none;">拡大</a>
                    </li>
                    <li id="no2">
                        <a href="#" id="del2 title="選び直す" style="display: none;">選び直す</a>
                    </li>
                    <li id="no2-1">
                        <a href="#" id="enlarge2" title="選んだボトルを拡大してみる" style="display:none;">拡大</a>
                    </li>
                    <li id="no3">
                        <a href="#" id="del3" title="選び直す" style="display: none;">選び直す</a>
                    </li>
                    <li id="no3-1">
                        <a href="#" id="enlarge3" title="選んだボトルを拡大してみる" style="display:none;">拡大</a>
                    </li>
                    <li id="no4">
                        <a href="#" id="del4 title="選び直す" style="display: none;">選び直す</a>
                    </li>
                    <li id="no4-1">
                        <a href="#" id="enlarge4" title="選んだボトルを拡大してみる" style="display:none;">拡大</a>
                    </li>
                </ul>
            </div>
            <link rel="stylesheet" href="#" media="all">
        </div>
        <div id="botttlelist">
            <a id="B000_anchor" href="#" title="スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける">
                <img id="B000" src="/img/B000.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B001_anchor" href="#" title="フィジカル レスキュー - 日常生活の全てがスピリチュアルであるということを理解し受け入れることをサポートします。ヒーラーのボトル。">
                <img id="B001" src="/img/B001.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B002_anchor" href="#" title="ピースボトル - 内なる真の平和と繋がる">
                <img id="B002" src="/img/B002.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B003_anchor" href="#" title="ハートボトル / アトランティアンボトル - ハートの問題、人生の感情的な側面">
                <img id="B003" src="/img/B003.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B004_anchor" href="#" title="サンライトボトル - 内なる知識と内なる智恵「汝自身をしれ」の扉を開く">
                <img id="B004" src="/img/B004.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B005_anchor" href="#" title="サンライズ / サンセットボトル - 広大なエネルギーに開いていくこと、開放されたエネルギーを知識を使って用いる">
                <img id="B005" src="/img/B005.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B006_anchor" href="#" title="エナジーボトル - 献身的な愛">
                <img id="B006" src="/img/B006.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B007_anchor" href="#" title="ゲッセマネの園 / 最後に信仰が試される - 信頼を試す">
                <img id="B007" src="/img/B007.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
            <a id="B008_anchor" href="#" title="アヌビス - 考え過ぎは、内なる平和を乱す">
                <img id="B008" src="/img/B008.jpeg" class="btl" style="width:31px; height:50.375px;">
            </a>
        </div>
    </div>
</body>
</html>