<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/224f2824f8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="submenu_consultant.css">
    <title>サブメニュー</title>
</head>
<body>
    <div class="dashboard-col-wrapper">
        <div class="dasboard-col-wrapper">
            <div class="dashboard-wrapper-menu_col dashboard-wrapper-menu_client"></div>
                <div class="dashboard-menu">
                    <div class="dashboard-menu_list">
                        <ul>
                            <li class="dashboard-menu_list_item --dashboard is-active">
                                <a href="#" class="dashboard-menu_list_link">
                                    <div class="dashboard-menu_list_inner flexbox">
                                        <div class="dashboard-menu_list_icon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class="dashboard-menu_list_text">ホーム</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dashboard-menu_list_item dropdown-menu --message">
                                <a href="#" class="dashboard-menu_list_link">
                                    <div class="dashboard-menu_list_inner flexbox">
                                        <div class="dashboard-menu_list_icon">
                                            <i class="fas fa-envelope fa-fw"></i>
                                        </div>
                                        <div class="dashboard-menu_list_text">
                                            メッセージ
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dashboard-menu_list_item dropdown-menu --contract">
                                <a href="#" class="dashboard-menu_list_link">
                                    <div class="dashboard-menu_list_inner flexbox">
                                        <div class="dashboard-menu_list_icon">
                                            <i class="fas fa-handshake fa-fw"></i>
                                        </div>
                                        <div class="dashboard-menu_list_text">
                                            契約管理
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dashboard-menu_list_item dropdown-menu --contract">
                                <a href="#" class="dashboard-menu_list_link">
                                    <div class="dashboard-menu_list_inner flexbox">
                                        <div class="dashboard-menu_list_icon">
                                            <i class="fas fa-chalkboard-teacher fa-fw"></i>
                                        </div>
                                        <div class="dashboard-menu_list_text">
                                            プラン管理
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="c-popup-menu" style="display: none;">
                                    <div class="c-popup-menu_head flexbox">
                                        <div clss="c-popup-menu_title">プラン管理</div>
                                    </div>
                                    <div class="c-popup-menu_body">
                                        <a href="#" class="c-popup-menu_child">プランの編集</a>
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard-menu_list_item --dashboard is-active"></li>
                            <li class="dashboard-menu_list_item --dashboard is-active"></li>
                            <li class="dashboard-menu_list_item --dashboard is-active"></li>
                            <li class="dashboard-menu_list_item --dashboard is-active"></li>
                            <li class="dashboard-menu_list_item --dashboard is-active"></li>
                        </ul>
                    </div>
                    <a href="#" class="dashboard-menu_button"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>